################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Basics/Basics/obj
/Basics/.vs/Basics/v16
/Basics/Basics/bin/Debug/netcoreapp3.1
